<template>
    <div class="input-field col s12">
        <label :for="id" class="active">{{ label }}</label>
        <select :id="id" class="browser-default" @change="updateValue">
            <option value="" disabled selected>Choose</option>
            <option :value="option.value" v-for="option in options" :key="option.value">{{ option.label }}</option>
        </select>
    </div>
</template>

<script>
export default {
    props: ['id', 'label', 'value', 'options'],
    methods: {
        updateValue (newVal) {
            // console.log('HERE', this.$refs.listItem.value, newVal)
            console.log(newVal.target.value)
            this.$emit('input', newVal.target.value)
        }
    }
}
</script>


