<template>
    <div class="input-field col s12">
        <textarea :id="id" class="materialize-textarea" @blur="updateValue"></textarea>
        <label :for="id">{{ label }}</label>
    </div>
</template>

<script>
export default {
    props: ['id', 'label', 'value'],
    methods: {
        updateValue (newVal) {
            this.$emit('input', newVal.target.value)
        }
    }
}
</script>
