<template>
    <div class="input-field col s12">
        <input :value="value" type="text" :id="id" @blur="updateValue">
        <label :for="id">{{ label }}</label>
    </div>
</template>

<script>
export default {
    props: ['id', 'label', 'value'],
    methods: {
        updateValue (newVal) {
            // console.log('HERE', this.$refs.listItem.value, newVal)
            // console.log(newVal)
            this.$emit('input', newVal.target.value)
        }
    }
}
</script>


