<template>
    <div class="container-fluid">
        <!-- search -->
        <swiper :options="swiperOption" ref="mySwiper">
            <!-- slides -->
            <swiper-slide>
                <div class="card card-status brand-primary">
                    <div class="card-content">
                        <span class="card-title white-text">Job Details</span>
                    </div>
                </div>
                <div class="card card-job" v-if="job !== null">
                    <div class="card-content" :class="job.priority.class">
                        <div class="card-title">{{ job.id }}</div>
                    </div>
                    <div class="card-content">
                        <b>Customer</b>
                        <div>{{ (job.customer !== null) ? job.customer.name : '--' }}</div>
                    </div>
                    <hr>
                    <div class="card-content" v-for="log in job.logs" :key="log.id">
                        <b>{{ log.status.name }}</b>
                        <div>{{ ((log.created_at !== null) ? log.created_at : '--') | toHumanDate }}</div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card card-status brand-primary">
                    <div class="card-content">
                        <span class="card-title white-text">Time</span>
                    </div>
                </div>
                <div class="card card-job" v-if="job !== null">
                    <div class="card-content">
                        <b>Hourly Rate</b>
                        <div>{{ job.engineers_rate | toCurrency }}</div>
                    </div>
                    <div class="card-content">
                        <b>Engineers Time</b>
                        <div>{{ job.engineers_time }}</div>
                    </div>
                    <div class="card-content">
                        <b>Engineers Quotation</b>
                        <div>{{ job.engineers_quote | toCurrency }}</div>
                    </div>
                    <div class="card-content">
                        <b>Notes</b>
                        <div>{{ (job.note_engineer !== null) ? job.note_engineer.note : '--' }}</div>
                    </div>
                </div>
            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
    components: {
        swiper,
        swiperSlide
    },
    props: ['job'],
    data () {
        return {
            swiperOption: {
                freeMode: true,
                slidesPerView: 'auto',
                spaceBetween: 10
            }
        }
    }
}
</script>
