<template>
    <div class="container-fluid">
        <!-- search -->
        <swiper :options="swiperOption" ref="mySwiper">
            <!-- slides -->
            <swiper-slide>
                <div class="card card-status brand-primary">
                    <div class="card-content">
                        <span class="card-title white-text">
                        Job Details
                        </span>
                    </div>
                </div>
                <div class="card card-job" v-if="job !== null">
                    <div class="card-content" :class="job.priority.class">
                        <div class="card-title">{{ job.id }}</div>
                    </div>
                    <div class="card-content">
                        <b>Order Number</b>
                        <div>{{ job.order_number }}</div>
                    </div>
                    <div class="card-content">
                        <b>Customer Reference</b>
                        <div>{{ job.customer_reference }}</div>
                    </div>
                    <div class="card-content">
                        <b>Engineer</b>
                        <div>{{ (job.engineer !== undefined) ? job.engineer.full_name : '--' }}</div>
                    </div>
                    <div class="card-content">
                        <b>Department</b>
                        <div>{{ (job.role !== undefined) ? job.role.name : '--' }}</div>
                    </div>
                    <div class="card-content">
                        <b>BIN</b>
                        <div>{{ job.bin }}</div>
                    </div>
                    <div class="card-content">
                        <b>Date Booked</b>
                        <div>{{ job.created_at | toHumanDate }}</div>
                    </div>
                    <hr>
                    <div class="card-content" v-for="log in job.logs" :key="log.id">
                        <b>{{ log.status.name }}</b>
                        <div>{{ ((log.created_at !== null) ? log.created_at : '--') | toHumanDate }}</div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card card-status brand-primary">
                    <div class="card-content">
                        <span class="card-title white-text">
                        Notes
                        </span>
                    </div>
                </div>
                <div class="card card-job" v-if="job !== null">
                    <div class="card-content">
                        <b>Customer</b>
                        <div>{{ (job.customer !== null) ? job.customer.name : '--' }}</div>
                    </div>
                    <div class="card-content">
                        <b>Contact</b>
                        <div>{{ (job.contact !== null) ? job.contact.name : '--' }}</div>
                        <div>{{ (job.contact !== null) ? job.contact.mobile : '--' }}</div>
                    </div>
                    <div class="card-content">
                        <b>Landline</b>
                        <div>{{ job.customer.landline }}</div>
                    </div>
                    <!-- mobile -->
                    <div class="card-content" v-if="job.customer.mobile !== null">
                        <b>Mobile</b>
                        <div>{{ job.customer.mobile }}</div>
                    </div>
                    <!-- fax -->
                    <div class="card-content">
                        <b>Fax</b>
                        <div>{{ job.customer.fax }}</div>
                    </div>
                    <!-- email -->
                    <div class="card-content">
                        <b>Email</b>
                        <div>{{ job.customer.email }}</div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card card-status brand-primary">
                    <div class="card-content">
                        <span class="card-title white-text">
                        Machine Details
                        </span>
                    </div>
                </div>
                <div class="card card-job" v-if="job !== null">
                    <div class="card-content">
                        <b>Manufacturer</b>
                        <div>{{ (job.asset_manufacturer !== null) ? job.asset_manufacturer.name : '--' }}</div>
                    </div>
                    <div class="card-content">
                        <b>Model</b>
                        <div>{{ (job.asset_model !== null) ? job.asset_model.name : '--' }}</div>
                    </div>
                    <div class="card-content">
                        <b>Serial Number</b>
                        <div>{{ job.asset_serial }}</div>
                    </div>
                    <div class="card-content">
                        <b>Description</b>
                        <div>{{ job.description }}</div>
                    </div>
                    <div class="card-content">
                        <b>Internal Note</b>
                        <div>{{ (job.note_internal !== null) ? job.note_internal.note : '--' }}</div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card card-status brand-primary">
                    <div class="card-content">
                        <span class="card-title white-text">Job Status</span>
                    </div>
                </div>
                <div class="card card-job" v-if="job !== null">
                    <div class="card-content">
                        <b>Projected Hours</b>
                        <div>{{ job.engineers_time }}</div>
                    </div>
                    <div class="card-content">
                        <b>Job Status</b>
                        <div>{{ job.status.name }}</div>
                    </div>
                    <div class="card-content">
                        <b>Due Date</b>
                        <div>{{ job.due_date | toHumanDate }}</div>
                    </div>
                    <div class="card-content">
                        <b>SubContractor</b>
                        <div>{{ (job.subcontractor !== null) ? job.subcontractor.name : '--' }}</div>
                    </div>
                    <div class="card-content warranty">
                        <b>Under Warranty</b>
                        <div v-if="job.under_warranty"><v-icon name="check" class="white-text" /></div>
                        <div v-else><v-icon name="times" class="white-text" /></div>
                    </div>
                    <div class="card-content">
                        <b>Sage Exported</b>
                        <div v-if="job.sage_exported"><v-icon name="check" /></div>
                        <div v-else><v-icon name="times" /></div>
                    </div>
                </div>
            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
    components: {
        swiper,
        swiperSlide
    },
    props: ['job'],
    data () {
        return {
            swiperOption: {
                freeMode: true,
                slidesPerView: 'auto',
                spaceBetween: 10
            }
        }
    }
}
</script>
