.brand-primary {
  background-color: $brand-primary!important;
}
.brand-primary-text {
  background-color: #fff;
  color: $brand-primary!important;
}

.brand-secondary {
  background-color: $brand-secondary!important;
}
.brand-secondary-text {
  background-color: #fff;
  color: $brand-secondary!important;
}

.brand-tertiary {
  background-color: $brand-tertiary!important;
}
