html, body {
    position: relative;
    height: 100%;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 300px;
    text-align: left;
    font-size: 14px;
    background: #fff;
  }
