
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Materialize
@import "~materialize-css/sass/materialize";

// SWIPER
@import '~swiper/dist/css/swiper.css';

// Brands
@import "brands";

// Swiper
@import "swiper";

nav {
    margin-bottom: 18px;
}

main {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  .sidenav-trigger, main {
    padding-left: 0;
  }
}

.brand-logo {
  height: 60px;
  img {
    margin-top: 6px;
    height: 68px;
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid $brand-secondary;
    border-radius: 3px;
  }
}
.brand-logo-small {
  height: 50px;
  img {
    margin-top: 6px;
    margin-right: 6px;
    height: 60px;
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid $brand-secondary;
    border-radius: 3px;
  }
}

.card-status {
    .card-content {
        padding: 12px;
        background-color: $brand-primary;
        .card-title {
            font-size: 1.3rem!important;
            margin-bottom: 0;
        }
        b.right {
            font-size: 1.6rem;
        }
    }
}

.card-job {
    .card-content {
      padding:6px 9px!important;
      .card-title {
        font-size: 1.2rem!important;
        color: #fff!important;
        margin: 0!important;
      }
    }
    .description {
      border-top: 1px solid $brand-secondary;
      border-bottom: 1px solid $brand-secondary;
    }
    .warranty {
      background-color: $brand-tertiary;
      color: #ffffff;
    }
  }

  .sidenav {
    padding-top: 6px;
      h6 {
          padding: 12px;
          background-color: $brand-primary;
          color: #fff;
          margin: 0 6px;
          -webkit-border-top-left-radius: 7px;
        -webkit-border-top-right-radius: 7px;
        -moz-border-radius-topleft: 7px;
        -moz-border-radius-topright: 7px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
      .selected {
        padding: 12px;
        margin: 0 6px;
        background-color: $brand-secondary;
        color: #fff!important;
      }
  }

  .date-width {
      width: 104px;
      min-width: 104px;
  }
