<template>
    <div class="row">
        <div class="col s6">
            <p>Date From</p>
            <datepicker monday-first id="date-from" v-model="dates.from" format="yyyy-MM-dd" placeholder="Date From"></datepicker>
        </div>
        <div class="col s6">
            <p>Date To</p>
            <datepicker monday-first id="date-to" v-model="dates.to" format="yyyy-MM-dd"></datepicker>
        </div>
        <div class="col s12">
            <p>
                <a class="waves-effect waves-light btn" @click="getJobs">Search</a>
            </p>
        </div>
        <div class="col s12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Job</th>
                        <th>Date Delivered</th>
                        <th>Customer</th>
                        <th style="text-align:right;">&pound; Nett</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="job in jobs" :key="job.id">
                        <td>{{ job.id }}</td>
                        <td>{{ job.delivered_at }}</td>
                        <td>{{ job.customer.name }}</td>
                        <td style="text-align:right;">{{ job.nett | toCurrency }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:right;"><b>{{ nett | toCurrency }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import { post } from '../helpers/axios'

export default {
    components: {
        Datepicker
    },
    data () {
        return {
            jobs: [],
            dates: {
                from: null,
                to: null
            }
        }
    },
    created () {
        this.dates.from = Vue.moment().startOf('month').format('YYYY-MM-DD');
        this.dates.to   = Vue.moment().endOf('month').format('YYYY-MM-DD');
        console.log(this.dates)
        // this.getJobs()
    },
    computed: {
        nett () {
            return this.jobs.reduce(function (a, b) {
                return a + b['nett'];
            }, 0);
        }
    },
    methods: {
        getJobs () {
            console.log(this.dates)
            post('/api/accounts/jobs-delivered', { dates: this.dates })
                .then(res => {
                    console.log('getJobs', res.data)
                    this.jobs = res.data.jobs
                })
                .catch(error => {
                    console.error('getJobs', error.response)
                })
        }
    }
}
</script>
