<template>
  <div>
    {{ token }}
  </div>
</template>
<script>
import Vue from 'vue'
import VueLocalStorage from 'vue-localstorage'
Vue.use(VueLocalStorage)

export default {
  props: ['token'],
  created () {
    Vue.localStorage.set('api_token', this.token)
  }
}
</script>
