<template>
  <div class="container-fluid">
  <!-- search -->
    <swiper :options="swiperOption" ref="mySwiper">
      <!-- slides -->
      <swiper-slide v-for="(status, key) in statuses" :key="key">
        <div class="card card-status brand-primary">
          <div class="card-content">
            <span class="card-title white-text">
              {{ status.info.name }}
              <b class="right">{{ status.jobs.length }}</b>
            </span>
          </div>
        </div>

            <div class="card card-job" v-for="(job, key2) in status.jobs" :key="key2">
                <div class="card-content" :style="'background-color: #' + job.priority.hex">
                    <span class="card-title">
                    {{ job.id }}
                    <a :href="'/jobs/' + job.id" class="right">
                        <v-icon name="eye" class="white-text" />
                    </a>
                    </span>
                </div>
                <div class="card-content">
                    <div class="bold">{{ job.customer.name }}</div>
                    <div>{{ job.contact.name }}</div>
                </div>
                <div class="card-content">
                    <div class="bold">{{ (job.asset_model !== null) ? job.asset_model.asset_manufacturer.name : job.asset_manufacturer_name }}</div>
                    <div>{{ (job.asset_model !== null) ? job.asset_model.name : job.asset_model_name }}</div>
                </div>

                <div class="card-content description" v-if="job.description !== null">
                    <div>{{ job.description }}</div>
                </div>

                <div class="card-content">
                    <div class="bold">Customer Reference</div>
                    <div>{{ (job.customer_reference !== null) ? job.customer_reference : 'no customer reference' }}</div>
                </div>
                <div class="card-content">
                    <div class="bold">Order Number</div>
                    <div>{{ (job.order_number !== null) ? job.order_number : 'no order number' }}</div>
                </div>

                <div class="card-content warranty" v-if="job.under_warranty === 1">
                    <div>UNDER WARRANTY</div>
                </div>

            </div>


          </swiper-slide>
        </swiper>


    </div>
</template>

<style lang="scss">

</style>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import { dashboard } from '../helpers/axios'
import VueLocalStorage from 'vue-localstorage'

export default {
    components: {
        swiper,
        swiperSlide
    },
    data () {
        return {
            swiperOption: {
                freeMode: true,
                slidesPerView: 'auto',
                spaceBetween: 10
            },
            statuses: []
        }
    },
    created () {
        this.getDashboard()
    },
    methods: {
        getDashboard () {
            var _this = this
            dashboard('/api/jobs/dashboard')
                .then((res) => {
                    console.log('STATUSES', res.data)
                    this.statuses = res.data.statuses
                    // this.emitPreLoader(false)
                })
        }
    }
}
</script>
