<template>
  <div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs" id="tabs">
                <li class="tab col" v-for="tab in tabs" :key="tab" @click="currentTab = tab">
                    <a :class="(tab === currentTab) ? 'active' : ''">{{ tab }}</a>
                </li>
            </ul>
        </div>
        <component
            v-bind:is="currentTabComponent"
            class="tab"
            :job="job"
        >
        </component>
        <!-- <div :id="tab.slug" class="col s12" v-for="tab in tabs" :key="'panel-' + tab.slug">
        </div> -->
    </div>
  </div>
</template>

<script>
import { jobsShow } from '../helpers/axios'
import TabView from './job/TabView'
import TabParts from './job/TabParts'
import TabEngineeringQuote from './job/TabEngineeringQuote'
import TabSalesQuote from './job/TabSalesQuote'
import TabLog from './job/TabLog'
import TabReport from './job/TabReport'
import TabDelivery from './job/TabDelivery'
import TabDocuments from './job/TabDocuments'
import TabMemos from './job/TabMemos'

export default {
  name: 'jobs.show',
  components: { TabView, TabParts, TabEngineeringQuote, TabSalesQuote, TabLog, TabReport, TabDelivery, TabDocuments, TabMemos },
  props: ['jobId'],
  data () {
    return {
      job: null,
      currentTab: 'View',
      tabs: ['View', 'Parts', 'Engineering Quote', 'Sales Quote', 'Log', 'Report', 'Delivery', 'Documents', 'Memos']
    }
  },
  computed: {
      currentTabComponent: function () {
          return 'tab-' + this.currentTab.toLowerCase().replace(' ', '-')
      }
  },
  created () {
    console.log(this.jobId)
    this.jobsShow()
  },
  methods: {
    jobsShow () {
      var _this = this
      jobsShow('/api/jobs/' + this.jobId)
        .then((res) => {
          console.log('STATUSES', res.data)
          this.job = res.data.job
          // this.emitPreLoader(false)
        })
    }
  }
}
</script>
