<template>
    <div>
        <ul class="collapsible" id="search-collapsible">
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <v-icon name="caret-down" />
                    Search Options
                </div>
                <div class="collapsible-body">

                    <div class="row">
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="job-id" type="text" class="validate" name="job_id" v-model="form.job_id">
                            <label for="job-id">Job Number</label>
                        </div>
                        </div>
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="description" type="text" class="validate" name="description">
                            <label for="description">Description</label>
                        </div>
                        </div>
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="customer-reference" type="text" class="validate" name="customer_reference">
                            <label for="customer-reference">Customer Reference</label>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <select id="sales-rep-id" name="sales_rep_id">
                            <option value="" selected>--ALL--</option>
                            </select>
                            <label for="sales-rep-id">Sales Rep</label>
                        </div>
                        </div>
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="customer" type="text" class="validate" name="customer">
                            <label for="customer">Customer</label>
                        </div>
                        </div>
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="contact" type="text" class="validate" name="contact">
                            <label for="contact">Contact</label>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="asset-manufacturer" type="text" class="validate" name="asset_manufacturer">
                            <label for="asset-manufacturer">Manufacturer</label>
                        </div>
                        </div>
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="asset-model" type="text" class="validate" name="asset_model">
                            <label for="asset-model">Model</label>
                        </div>
                        </div>
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="asset-serial" type="text" class="validate" name="asset_serial">
                            <label for="asset-serial">Serial</label>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                        <label for="created-at-from">Date From</label>
                        <input type="text" class="datepicker" id="created-at-from">
                        </div>
                        <div class="col s12 m6">
                        <label for="created-at-to">Date To</label>
                        <input type="text" class="datepicker" id="created-at-to">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <select id="status-id">
                            <option value="" selected>--ALL--</option>
                            </select>
                            <label for="status-id">Status</label>
                        </div>
                        </div>
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <input id="order-number" type="text" class="validate">
                            <label for="order-number">Order Number</label>
                        </div>
                        </div>
                        <div class="col s12 m6 l4">
                        <div class="input-field">
                            <select id="warranty">
                            <option value="" selected>Either</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                            </select>
                            <label for="warranty">Warranty</label>
                        </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div>
            <button class="btn waves-effect waves-light brand-success" id="btn-search" @click="search">
                <span class="hide-on-small-only">Search</span>
                <v-icon name="search" />
            </button>
        </div>

        <div id="search-results">
          <table class="responsive-table">
            <thead>
              <tr>
                <th>Job</th>
                <th>Company / <br>Contact</th>
                <th>Asset</th>
                <th>Sales Quote / <br>Date Booked</th>
                <th>Status / <br>Order</th>
                <th>Deliver</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="job in jobs" :key="job.id">
                <td><a :href="'/jobs/' + job.id">{{ job.id }}</a></td>
                <td>
                  {{ job.customer.name }}
                  <br>{{ job.contact.name }}
                </td>
                <td>
                  {{ (job.asset_manufacturer !== null) ? job.asset_manufacturer.name : '--' }}
                  <br>{{ (job.asset_model !== null) ? job.asset_model.name : '--' }}
                  <br>{{ job.asset_serial }}
                </td>
                <td>
                  {{ job.nett | toCurrency }}
                  <br>{{ job.created_at | toHumanDate }}
                </td>
                <td>
                  {{ (job.status !== null) ? job.status.name : '--' }}
                  <br><b>O/N:</b> {{ job.order_number }}
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col s12 m3 offset-m9">
              <label for="dispatch-date">Dispatch Date</label>
              <input type="text" class="datepicker" id="dispatch-date" name="dispatch_date">
            </div>
            <div class="col s12 m3 offset-m9">

            </div>
          </div>

        </div>
    </div>
</template>

<script>
import { post } from '../helpers/axios'

export default {
    data () {
        return {
            form: {
                job_id: null
            },
            jobs: []
        }
    },
    created () {
        //  get sales reps

        //  get statuses
    },
    methods: {
      search () {
        console.log('searchin')
        var instance = M.Collapsible.getInstance(document.getElementById('search-collapsible'));
        instance.close()
        post('/api/jobs/search', this.form)
          .then(res => {
            console.log('search', res.data)
            this.jobs = res.data.jobs
          })
      }
    }
}
</script>
