<template>
<div class="container">
  <div class="row">
    <div class="card col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-content">
        <span class="card-title">
          Login
        </span>
        <div class="input-field">
          <input id="username" type="text" class="form-control" name="username" required autofocus v-model="form.username">
          <label for="username">Username</label>
        </div>
        <div class="input-field">
          <input id="password" type="password" class="form-control" name="password" required v-model="form.password">
          <label for="password">Password</label>
        </div>
        <a class="waves-effect waves-light btn" :disabled="form.password === null" @click="login">Login</a>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
import VueLocalStorage from 'vue-localstorage'
import { login } from '../helpers/axios'

Vue.use(VueLocalStorage)

export default {
  data () {
    return {
      form: {
        username: null,
        password: null
      }
    }
  },
  mounted() {
    console.log('Component mounted.')
  },
  methods: {
    login () {
      console.log('logging in', this.form)
      login(this.form)
        .then(res => {
          console.log('login', res.data)
          Vue.localStorage.set('api_token', res.data.user.api_token)
          window.location.href = "/jobs/dashboard"
        })
        .catch(error => {
          console.error('login', error.response)
        })
    }
  }
}
</script>
