<template>
    <ul class="sidenav sidenav-nav sidenav-fixed" id="mobile-demo">
        <li>
            <h6>General</h6>
        </li>
        <li>
            <div class="collection">
                <a href="/" class="collection-item brand-primary-text">Home</a>
            </div>
        </li>
        <li>
            <h6>Jobs</h6>
            <div class="collection">
                <a href="/jobs/dashboard" class="collection-item ">Dashboard</a>
                <a href="/jobs/search" class="collection-item">Search</a>

                <a v-for="newProcess in newProcesses" :key="newProcess.id" :href="'/processes/' + newProcess.id + '/process'" class="collection-item brand-secondary-text">--> {{ newProcess.name }}</a>
            </div>
        </li>
        <li>
            <h6>Reports</h6>
            <div class="collection">
                <a href="#" class="collection-item">Outstanding Order Numbers</a>
                <a href="#" class="collection-item">Awaiting Acceptance</a>
                <a href="#" class="collection-item">by Engineer</a>
                <a href="#" class="collection-item">Awaiting Collection</a>
                <a href="#" class="collection-item">Awaiting Delivery</a>
                <a href="#" class="collection-item">Overdue</a>
                <a href="#" class="collection-item">Monthly Output</a>
            </div>
        </li>
        <li>
            <h6>Accounts</h6>
        </li>
        <li>
            <a href="/accounts/sage-export" class="collection-item">Sage Export</a>
            <a href="/accounts/sage-export-report" class="collection-item">Sage Export Report</a>
        </li>
    </ul>

</template>

<script>
import { get } from '../helpers/axios'

export default {
    data () {
        return {
            newProcesses: []
        }
    },
    created () {
        this.getNewProcesses()
    },
    methods: {
        getNewProcesses () {
            get('/api/processes/new')
                .then(res => {
                    console.log(res.data)
                    this.newProcesses = res.data.newProcesses
                })
        }
    }
}
</script>
