<template>
    <div>
        <div class="card card-status">
            <div class="card-content white-text" v-if="process !== null">
                <span class="card-title">{{ process.name }}</span>
                <p>{{ process.description }}</p>
            </div>
        </div>

        <swiper :options="swiperOption" ref="mySwiper">
            <!-- slides -->
            <swiper-slide>
                <div class="card card-job">
                    <div class="card-content">
                    <div class="row">
                        <fig-select id="customer-id" label="Customer" v-model="form.job.customer_id" :options="customers" v-on:input="getContacts"></fig-select>
                        <fig-select id="contact-id" label="Contact" v-model="form.job.contact_id" :options="contacts"></fig-select>
                        <fig-text value="" id="customer-reference" label="Customer Reference" v-model="form.job.customer_reference"></fig-text>
                        <fig-text value="" id="order-number" label="Order Number" v-model="form.job.order_number"></fig-text>
                        <fig-text value="" id="description" label="Description" v-model="form.job.description"></fig-text>
                        <fig-select id="priority-id" label="Priority" v-model="form.job.priority_id" :options="priorities"></fig-select>
                        <fig-text value="" id="narative" label="Narative" v-model="form.log.narative"></fig-text>
                    </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card card-job">
                    <div class="card-content">
                    <div class="row">
                        <fig-textarea id="fault" label="Fault" value="" v-model="form.notes.note_fault.note"></fig-textarea>
                        <fig-textarea id="internal" label="Internal Note" value="" v-model="form.notes.note_internal.note"></fig-textarea>
                    </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper>
        <a class="waves-effect waves-light btn" @click="postProcess">Process</a>
    </div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import { get, postJobProcess, getProcess } from '../helpers/axios'
import FigText from './fields/figText'
import FigSelect from './fields/figSelect'
import FigTextarea from './fields/figTextarea'

export default {
    props: ['processId'],
    components: {
        swiper,
        swiperSlide,
        FigText,
        FigSelect,
        FigTextarea
    },
    data () {
        return {
            swiperOption: {
                freeMode: true,
                slidesPerView: 'auto',
                spaceBetween: 10
            },
            process: null,
            form: {
                job: {},
                log: {},
                notes: {
                    note_fault: {
                        note_type_id: 1,
                        note: null
                    },
                    note_internal: {
                        note_type_id: 3,
                        note: null
                    }
                }

            },
            customers: [],
            contacts: [],
            priorities: []
        }
    },
    created () {
        this.getProcess()
        this.getCustomers()
        this.getPriorities()
    },
    methods: {
        getProcess () {
            getProcess(this.processId)
                .then(res => {
                    console.log('getProcess', res.data)
                    this.process = res.data.process
                })
        },
        getCustomers () {
            let _this = this
            get('/api/customers')
                .then(res => {
                    _this.customers = res.data.customers
                })
        },
        getContacts () {
            let _this = this
            get('/api/customers/' + _this.form.job.customer_id + '/contacts')
                .then(res => {
                    _this.contacts = res.data.contacts
                })
        },
        getPriorities () {
            let _this = this
            get('/api/priorities')
                .then(res => {
                    _this.priorities = res.data.priorities
                })
        },
        postProcess () {
            postJobProcess(this.processId, this.form)
                .then(res => {
                    console.log('post', res.data)
                    window.location.href = '/jobs/' + res.data.job.id
                })
        }
    }
}
</script>
