<template>
    <div>
        <div class="card card-status">
            <div class="card-content white-text" v-if="process !== null">
                <span class="card-title">{{ process.name }}</span>
                <p>{{ process.description }}</p>
            </div>
        </div>

        <swiper :options="swiperOption" ref="mySwiper">
            <!-- slides -->
            <swiper-slide>
                <div class="card card-job">
                    <div class="card-content brand-primary">
                        <span class="card-title">Customer Details</span>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <fig-select id="customer-id" label="Customer" v-model="form.job.customer_id" :options="customers" v-on:input="getContacts"></fig-select>
                            <fig-select id="contact-id" label="Contact" v-model="form.job.contact_id" :options="contacts"></fig-select>
                            <fig-text value="" id="customer-reference" label="Customer Reference" v-model="form.job.customer_reference"></fig-text>
                            <fig-text value="" id="order-number" label="Order Number" v-model="form.job.order_number"></fig-text>
                            <fig-textarea id="internal" label="Internal Note" value="" v-model="form.notes.note_internal.note"></fig-textarea>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card card-job">
                    <div class="card-content brand-primary">
                        <span class="card-title">Job Details</span>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <fig-text value="" id="description" label="Description" v-model="form.job.description"></fig-text>
                            <fig-select id="asset-manufacturer-id" label="Asset Manufacturer" v-model="form.job.asset_manufacturer_id" :options="assetManufacturers" v-on:input="getAssetModels"></fig-select>
                            <fig-select id="asset-model-id" label="Asset Model" v-model="form.job.asset_model_id" :options="assetModels"></fig-select>
                            <fig-text value="" id="serial-number" label="Serial Number" v-model="form.job.asset_serial"></fig-text>
                            <fig-select id="role-id" label="Department" v-model="form.job.role_id" :options="roles"></fig-select>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="card card-job">
                    <div class="card-content brand-primary">
                        <span class="card-title">Extra</span>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <fig-select id="priority-id" label="Priority" v-model="form.job.priority_id" :options="priorities"></fig-select>
                            <fig-select id="sub-contractor-id" label="Sub Contractor" v-model="form.job.sub_contractor_id" :options="subContractors"></fig-select>
                            <fig-textarea id="fault" label="Fault" value="" v-model="form.notes.note_fault.note"></fig-textarea>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper>
        <a class="waves-effect waves-light btn" @click="postProcess">Process</a>
    </div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import { get, postJobProcess, getProcess } from '../helpers/axios'
import FigText from './fields/figText'
import FigSelect from './fields/figSelect'
import FigTextarea from './fields/figTextarea'

export default {
    props: ['processId'],
    components: {
        swiper,
        swiperSlide,
        FigText,
        FigSelect,
        FigTextarea
    },
    data () {
        return {
            swiperOption: {
                freeMode: true,
                slidesPerView: 'auto',
                spaceBetween: 10
            },
            process: null,
            form: {
                job: {
                    customer_reference: null
                },
                log: {},
                notes: {
                    note_fault: {
                        note_type_id: 1,
                        note: null
                    },
                    note_internal: {
                        note_type_id: 3,
                        note: null
                    }
                }

            },
            customers: [],
            contacts: [],
            priorities: [],
            assetManufacturers: [],
            assetModels: [],
            roles: [],
            subContractors: []
        }
    },
    created () {
        this.getProcess()
        this.getCustomers()
        this.getPriorities()
        this.getAssetManufacturers()
        this.getRoles()
        this.getSubContractors()
    },
    methods: {
        getProcess () {
            getProcess(this.processId)
                .then(res => {
                    console.log('getProcess', res.data)
                    this.process = res.data.process
                })
        },
        getCustomers () {
            let _this = this
            get('/api/customers')
                .then(res => {
                    _this.customers = res.data.customers
                })
        },
        getContacts () {
            let _this = this
            get('/api/customers/' + _this.form.job.customer_id + '/contacts')
                .then(res => {
                    _this.contacts = res.data.contacts
                })
        },
        getAssetManufacturers () {
            let _this = this
            get('/api/asset-manufacturers')
                .then(res => {
                    _this.assetManufacturers = res.data.assetManufacturers
                })
        },
        getAssetModels () {
            let _this = this
            get('/api/asset-manufacturers/' + _this.form.job.asset_manufacturer_id + '/asset-models')
                .then(res => {
                    console.log('getAssetModels', res.data)
                    _this.assetModels = res.data.assetModels
                })
        },
        getPriorities () {
            let _this = this
            get('/api/priorities')
                .then(res => {
                    _this.priorities = res.data.priorities
                })
        },
        getRoles () {
            let _this = this
            get('/api/roles/is-job-type')
                .then(res => {
                    _this.roles = res.data.roles
                })
        },
        getSubContractors () {
            let _this = this
            get('/api/suppliers/sub-contractors')
                .then(res => {
                    _this.subContractors = res.data.subContractors
                })
        },
        postProcess () {
            console.log(this.form)
            // postJobProcess(this.processId, this.form)
            //     .then(res => {
            //         console.log('post', res.data)
            //         window.location.href = '/jobs/' + res.data.job.id
            //     })
        }
    }
}
</script>
