<template>
    <div class="container">
        <a class="waves-effect waves-light btn" @click="viewPdf" target="_blank">View as PDF</a>
        <a :href="path" v-if="path !== null" target="_blank">PDF LINK</a>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Date Booked</th>
                    <th>Completed</th>
                    <th>Customer</th>
                    <th class="right-align">£ Nett</th>
                    <th class="right-align">£ Amount</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(jobs, salesRep) in salesReps">
                    <tr :key="'sr-' + salesRep">
                        <td colspan="6">{{ salesRep }}</td>
                    </tr>
                    <tr v-for="job in jobs" :key="job.id">
                        <td>{{ job.id }}</td>
                        <td>{{ job.created_at }}</td>
                        <td>{{ job.completed_at }}</td>
                        <td>{{ job.customer.name }}</td>
                        <td class="right-align">{{ job.nett | toCurrency }}</td>
                        <td class="right-align">{{ job.gross | toCurrency }}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<script>
import { get } from '../helpers/axios'

export default {
    data () {
        return {
            salesReps: [],
            path: null
        }
    },
    created () {
        this.reportsOutstandingOrderNumbers()
    },
    methods: {
        reportsOutstandingOrderNumbers () {
            var _this = this
            get('/api/reports/outstanding-order-numbers')
                .then((res) => {
                    console.log('get', res.data)
                    this.salesReps = res.data.salesReps
                })
        },
        viewPdf () {
            get('/api/reports/outstanding-order-numbers/1')
                .then((res) => {
                    console.log('get', res.data)
                    this.path = res.data.path
                    // this.salesReps = res.data.salesReps
                    // this.emitPreLoader(false)
                })
        }
    }
}
</script>
