<template>
    <div class="container">
        <a class="waves-effect waves-light btn" @click="viewPdf" target="_blank">View as PDF</a>
        <a :href="path" v-if="path !== null" target="_blank">PDF LINK</a>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Customer</th>
                    <th>Description</th>
                    <th class="date-width right-align">Start Date</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(jobs, engineer) in engineers">
                    <tr :key="'sr-' + engineer">
                        <td colspan="6">{{ engineer }}</td>
                    </tr>
                    <tr v-for="job in jobs" :key="job.id">
                        <td>{{ job.id }}</td>
                        <td>{{ job.customer.name }}</td>
                        <td>{{ job.description }}</td>
                        <td class="right-align">{{ job.started_at }}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<script>
import { get } from '../helpers/axios'

export default {
    data () {
        return {
            engineers: [],
            path: null
        }
    },
    created () {
        this.reportsByEngineer()
    },
    methods: {
        reportsByEngineer () {
            var _this = this
            get('/api/reports/by-engineer')
                .then((res) => {
                    console.log('get', res.data)
                    this.engineers = res.data.engineers
                })
        },
        viewPdf () {
            get('/api/reports/by-engineer/1')
                .then((res) => {
                    console.log('get', res.data)
                    this.path = res.data.path
                })
        }
    }
}
</script>
