<template>
    <div class="container">
        <a class="waves-effect waves-light btn" @click="viewPdf" target="_blank">View as PDF</a>
        <a :href="path" v-if="path !== null" target="_blank">PDF LINK</a>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Description</th>
                    <th class="date-width">Booked Date</th>
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="job in jobs" :key="job.id">
                    <td>{{ job.id }}</td>
                    <td>{{ job.description }}</td>
                    <td>{{ job.created_at | moment("DD-MM-YYYY") }}</td>
                    <td>{{ job.customer.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import { get } from '../helpers/axios'

export default {
    data () {
        return {
            jobs: [],
            path: null
        }
    },
    created () {
        this.reportsAwaitingDelivery()
    },
    methods: {
        reportsAwaitingDelivery () {
            var _this = this
            get('/api/reports/awaiting-delivery')
                .then((res) => {
                    console.log('get', res.data)
                    this.jobs = res.data.jobs
                })
        },
        viewPdf () {
            get('/api/reports/awaiting-delivery/1')
                .then((res) => {
                    console.log('get', res.data)
                    this.path = res.data.path
                })
        }
    }
}
</script>
