<template>
  <div>
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Job</th>
          <th>Date Delivered</th>
          <th>Customer<br>Description<br>Engineer</th>
          <th>Actions</th>
          <th>Nett</th>
          <th>Export</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="job in jobs" :key="job.id">
          <td>{{ job.id }}</td>
          <td>{{ job.delivered_at }}</td>
          <td>
            {{ job.customer.name }}
            <div>{{ job.description }}</div>
            <div>{{ (job.engineer !== null) ? job.engineer.full_name : 'unassigned' }}</div>
          </td>
          <td>
            <send-invoice :job="job" :dev-email="devEmail" :dev="dev"></send-invoice>
            <view-invoice :job="job"></view-invoice>
          </td>
          <td>
            {{ job.nett | toCurrency }}
          </td>
          <td>
            <p>
              <label>
                <input type="checkbox" :id="'job-' + job.id" :value="job.id" v-model="exports" />
                <span>Export</span>
              </label>
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
        <div class="col s6">
            <a class="waves-effect waves-light btn" @click="exportJobs">Export</a>
        </div>
        <div class="col s6">
            <a :href="path" v-if="path !== null && sending !== true" target="_blank">CSV LINK</a>
            <div class="progress" v-if="sending">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>

  </div>
</template>

<style>
</style>

<script>
import { get, post } from '../helpers/axios'

export default {
  data () {
    return {
      jobs: [],
      devEmail: null,
      dev: null,
      exports: [],
      path: null,
    sending: false
    }
  },
  created () {
    this.sageExport()
    this.getDevEmail()
  },
  methods: {
    sageExport () {
      get('/api/accounts/sage-export')
        .then(res => {
          console.log(res.data)
          this.jobs = res.data.jobs
        })
    },
    getDevEmail () {
        get('/api/dev-email')
            .then(res => {
                console.log('EMAIL', res.data)
                this.devEmail = res.data.email
                this.dev = res.data.email_dev
            })
    },
    exportJobs () {
        console.log('exportin', this.exports)
        this.sending = true
        post('/api/accounts/export', { jobs: this.exports })
            .then(res => {
                console.log('exportJobs', res.data)
                this.sending = false
                this.path = res.data.path
            })
            .catch(error => {
                console.error('exportJobs', error.response)
                this.sending = false
            })
    }
  }
}
</script>
