<template>
  <span>
    <a class="waves-effect waves-light btn btn-small purple" @click="show">send invoice</a>
    <!-- SendInvoice Modal -->
    <modal :name="'send-invoice-' + job.id">
        <h5>Select an email address</h5>
        <p>
            <label>
                <input name="email" type="radio" :value="emails.contact" v-model="email" />
                <span>Contact ({{ emails.contact }})</span>
            </label>
        </p>
        <p>
            <label>
                <input name="email" type="radio" :value="emails.customer" v-model="email" />
                <span>Customer ({{ emails.customer }})</span>
            </label>
        </p>
        <p>
            <label>
                <input name="email" type="radio" :value="devEmail" v-model="email" />
                <span>Dev ({{ devEmail }})</span>
            </label>
        </p>
      <div class="row">
        <div class="col s6">
          <a class="waves-effect waves-light btn btn-small green" :disabled="disabledButton" @click="send">
              send
            </a>
        </div>
        <div class="col s6">
            <div class="progress" v-if="sending">
                <div class="indeterminate"></div>
            </div>
        </div>
      </div>
    </modal>
  </span>
</template>

<script>
// import Vue from 'vue'
// import VueLocalStorage from 'vue-localstorage'
// Vue.use(VueLocalStorage)

import { get } from '../helpers/axios'

export default {
    props: ['job', 'devEmail', 'dev'],
    data () {
        return {
            emails: {
                contact: null,
                customer: null
            },
            email: null,
            sending: false
        }
    },
    computed: {
        disabledButton: function () {
            return this.sending
        }
    },
    created () {
        this.emails.contact = this.job.contact.email
        this.emails.customer = this.job.customer.email
    },
  methods: {
    show () {
      console.log('showing')
      this.$modal.show('send-invoice-' + this.job.id, { job: this.job });
    },
    hide () {
      this.$modal.hide('send-invoice-' + this.job.id);
    },
    send () {
      // console.log('sendin', 'A', Vue.localStorage.get('api_token'), 'B')
        this.sending = true
      axios({
        method: 'post',
        url: '/api/accounts/' + this.job.id + '/send-invoice',
        headers: {
          'Authorization': 'Bearer ' + Vue.localStorage.get('api_token'),
          'Accept': 'application/json'
        },
        data: {
          id: this.job.id,
          email: this.email
        }
      })
        .then(res => {
          console.log('sendInvoice', res.data)
          this.sending = false
          this.hide()
        })
        .catch(error => {
          console.error('sendInvoice', error.response)
          this.sending = false
        })
      // axios.post('/api/accounts/' + this.job.id + '/send-invoice', {
      //   headers: {
      //     'Authorization': 'Bearer ' + Vue.localStorage.get('api_token'),
      //     'Accept': 'application/json'
      //   }
      // })
    }
  }
}
</script>
