<template>
    <span>
        <a class="waves-effect waves-light btn btn-small blue" @click="viewInvoice" :disabled="disabledButton">view invoice</a>
        <div>
            <a :href="path" v-if="path !== null && sending !== true" target="_blank">PDF LINK</a>
            <div class="progress" v-if="sending">
                <div class="indeterminate"></div>
            </div>
        </div>
    </span>
</template>

<script>
import { get } from '../helpers/axios'

export default {
    props: ['job'],
    data () {
        return {
            path: null,
            sending: false
        }
    },
    computed: {
        disabledButton: function () {
            return this.sending
        }
    },
    methods: {
        viewInvoice () {
            this.sending = true
            get('/api/accounts/' + this.job.id + '/view-invoice')
                .then(res => {
                    console.log(res.data)
                    this.sending = false
                    this.path = res.data.path
                })
                .catch(error => {
                    console.log(error.response)
                    this.sending = false
                })
        }
    }
}
</script>
